<table class="table table-stripped">
  <thead>
    <tr>
      <th><%= t("user.id")%></th>
      <th><%= t("user.email")%></th>
      <th><%= t("user.username")%></th>
      <th><%= t("user.posts_count")%></th>
      <th><%= t("user.created_at")%></th>
      <th><%= t("user.roles")%></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.email %></td>
        <td><%= user.username %></td>
        <td><%= user.posts.count %></td>
        <td><%=l user.created_at, format: :short %></td>
        <td><%= user.roles.map {|r| r.name }.join(', ')%></td>
        <td><%= link_to t("user.make_admin"), user_make_admin_path(user_id: user.id), method: :post %></td>
        <td><%= link_to t("user.make_author"), user_make_author_path(user_id: user.id), method: :post %></td>
        <td><%= link_to t("user.make_trusted"), user_make_trusted_path(user_id: user.id), method: :post %></td>
        <td><%= link_to t("user.make_reader"), user_make_reader_path(user_id: user.id), method: :post %></td>
        <td><%= link_to t("user.remove"), user, method: :delete, data: { confirm: I18n.t('post_control.are_you_sure') }, class: 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>