<div>
<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>
      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.label :header %><%= f.text_field :header, style:'width: 100%' %>
  <%= f.label :body %><%= f.text_area :body, style:'width: 100%; height: 400px' %>
  <%= f.label :tag_list %><%= f.text_field :tag_list, style:'width: 100%;' %>
  <%= f.label :image %><%= f.file_field :image %>
  <%= f.submit t('post_control.save'), class: 'pull-right btn btn-primary'%>
<% end %>
</div>
