<h2 class="text-center"><%= @post.header %></h2>
<div class="row-fluid">
  <div class="offset6 span6">
    <%= link_to "@#{@post.user.username}", posts_url(author: @post.user.username) %>
    <span><%= @post.created_at %></span>
    <% @post.tag_list.each do |t| %>
     <span class="label label-success"><%=link_to t, tag_path(t), class: 'white' %></span>
    <% end %>
  </div>
</div>
<% if @post.image.present? %>
  <div class="pull-left" style='max-width: 350px; max-height: 300px; margin-right: 20px; margin-bottom: 20px;'>
    <%= image_tag @post.image, class: "img-polaroid" %>
  </div>
<%end%>
<div><%= raw markdown.render @post.body %></div>
<hr>
<h3>Комментарии</h3>
<div class="post_comments">
  <%= render "comments/post_comments", post: @post%>
</div>

<% if can? :create, Comment %>
  <h3>Новый комментарий</h3>
  <%= form_for Comment.new, remote: true do |f| %>
    <%= f.hidden_field :post_id, value: @post.id %>
    <%= f.text_area :body, style: 'width: 100%; height: 4em;' %>
    <%= f.submit class: 'btn btn-success' %>
  <% end %>
<% end %>
