<!DOCTYPE html>
<html lang="ru">
<head>
  <title>IdleBlog</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render "layouts/navbar" %>
  
  <div class="container row-fluid">
    <div class="span9">
      <% if notice.present? %>
        <div class="alert alert-success"><%= notice %></div>
      <% end %>
      <% if alert.present? %>
        <div class="alert alert-error">
          <%= alert %>
        </div>
      <% end %>
      <%= yield %>
    </div>
    <div class="span3">
      <%if controller_name == 'posts' %>
        <div id="tag_cloud">
          <% tag_cloud Post.tag_counts, %w[s m l] do |tag, css_class| %>
            <%= link_to tag.name, tag_path(tag.name), class: css_class %>
          <% end %>
        </div>
      <% end %>  
    </div>
  </div>
  <%if controller_name == 'posts' %>
    <div class="container"><%= link_to t('links.to_main'), root_path %></div>
  <% end %>  
  
</body>
</html>
